body {  font-size: 20px; line-height: 22px; font-weight: light; color: #250517; }
    a:link {text-decoration: none; color: #003399; /*blue*/}
    a:visited {text-decoration: none; color: #003399; /*blue*/}
    a:active {text-decoration: none; color: #003399; /*blue*/}
    a:hover {text-decoration: none; color: #003399; /*blue*/
}


body {
  background-color: gray;
   color: white;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: lightblue;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
    #header {
        width:799px;
        margin-left:auto; 
        margin-right:auto;
        text-align: center;
        margin-top:50px;

    }

h {
    color: black;
    font-family: verdana;
    font-size: 100%;
 text-align: center;
    font-weight: bold;
}
    #content {
        width:100%;
        height:410px;
        margin: 0 auto;
        
    }


      .img {
  display: flex;
 
        float: center;
}


#somethingorother {
  width: 800px ;
}


.tabs {
  padding: 10px 2em
}

footer{
   
    bottom: 0;
    left: 0;
    right: 0;
   
    background: lightblue;
    text-align: center; 
    padding: 2em;  
}











@media (min-width: 360px) {
  body {
    font-size: 1.0em;
  }
}

@media (min-width: 500px) {
  .seven-day-fc .temp-low,
  .seven-day-fc .temp-high {
    display: inline-block;
    width: 45%;
  }}

  .seven-day-fc .seven-day-temp {
    margin-left: 5%;
  }

  .seven-day-fc .icon {
    width: 64px;
    height: 64px;
  }
 